<%- include('../includes/header', { loggedInUser }) %>

<% if(locals.message) { %>
    <p class="info"><%= message %></p>
<% } %>

<h2>Les utilisateurs de la plateforme</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Role</th>
        <th>Groupe</th>
        <th>Département</th>
        <th>Peut valider</th>
        <% if (loggedInUser
            && loggedInUser.isValidator) { %>
            <th>Email</th>
        <% } %>
        <th>Validé par</th>
    </tr>

    <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.role %></td>
            <td><%= user.unit %></td>
            <td><%= user.department %></td>
            <td><%= user.isValidator ? 'Oui' : 'Non' %></td>

            <% if (loggedInUser
                && loggedInUser.isValidator) { %>
                <td><%= user.email %></td>
                <% if (!user.ValidatorId) { %>
                    <td>
                        <form method="post" action="/users/validate/<%= user.id %>">
                            <button>Valider</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/users/validate/<%= user.id %>">
                            <input type="hidden" name="isValidator" value="1">
                            <button class="warning">Autoriser à valider</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/users/delete/<%= user.id %>">
                            <button class="warning">Supprimer</button>
                        </form>
                    </td>
                <% } else {%>
                    <td><%= user.ValidatorId %></td>
                <% } %>
            <% } %>
        </tr>
    <% }); %>
</table>
