<h1>Bienvenue</h1>

<style type="text/css">
  /* From https://jrl.ninja/etc/1/ */
  body {
    max-width: 20rem;
    padding: 2rem;
    margin: auto;
  }

  .warning {
    padding: 0.2em;
    background-color: #ffbb78
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form > * {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }
</style>

<% if(locals.error) { %>
  <p class="warning"><%= error %></p>
<% } %>

<form method="post">
  <div>
    <label for="email">Email&nbsp;:</label>
    <input id="email" name="email" value="<%= email %>">
  </div>
  <div>
    <label for="password">Mot de passe&nbsp;:</label>
    <input id="password" name="password" type="password">
  </div>
  <div>
    <label for="firstName">Prénom&nbsp;:</label>
    <input id="firstName" name="firstName" value="<%= firstName %>">
  </div>
  <div>
    <label for="lastName">Nom&nbsp;:</label>
    <input id="lastName" name="lastName" value="<%= lastName %>">
  </div>
  <div>
    <label for="role">Rôle :</label>
    <select id="role" name="role">
      <%
        const roleOptions = [
          { value: 'ROLE_OPERATOR', optionText: 'Opérateur local' },
          { value: 'ROLE_ADMIN_N', optionText: 'Admin national' },
          { value: 'ROLE_ADMIN_D', optionText: 'Admin local' }
        ];
        roleOptions.forEach(roleOption => {
        %><option value="<%=roleOption.value %>" <%= roleOption.value === role ? 'selected' : '' %>  <%= role === '' ? 'selected' : '' %>><%=roleOption.optionText %></option><%
        })
      %>
    </select>
  </div>
  <div>
    <label for="unit">Unité :</label>
    <select id="unit" name="unit">
      <%
        const unitOptions = ['SAMU', 'ST(SI)²', 'Sécurité Civile', 'DINSIC' ];
        unitOptions.forEach(value => {
        %><option value="<%=value %>" <%= value === unit ? 'selected' : '' %>><%=value %></option><%
        })
      %>
    </select>
  </div>

  <div>
    <label for="department">Départment :</label>
    <select id="department" name="department">
      <%
        const departmentOptions = ['85', 'France entière'];
        departmentOptions.forEach(value => {
          %><option value="<%=value %>" <%= value === department ? 'selected' : '' %>><%=value %></option><%
        })
      %>
    </select>
  </div>
  <button type="submit">Créer un compte</button>
</form>
