<h2>Les utilisateurs de la plateforme en attente de validation</h2>

<table>
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>role</th>
        <th>unit</th>
        <th>department</th>
        <th>validation</th>
    </tr>

    <% users.forEach(function(user){ %>
        <% if (!user.isValidator && !user.ValidatorId) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.role %></td>
                <td><%= user.unit %></td>
                <td><%= user.department %></td>
                <td>
                        <form method="post" action="/users/validate/<%= user.id %>">
                            <button type="submit">Valider</button>
                        </form>
                </td>
            </tr>
        <% } %>
<% }); %>
</table>

<h2>Les utilisateurs de la plateforme validés</h2>

<table>
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>role</th>
        <th>unit</th>
        <th>department</th>
        <th>validation</th>
    </tr>

    <% users.forEach(function(user){ %>
        <% if (user.ValidatorId) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.role %></td>
                <td><%= user.unit %></td>
                <td><%= user.department %></td>
                <td><%= user.updatedAt %></td>
            </tr>
        <% } %>
<% }); %>
</table>
